<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-FRAME-OPTIONS" content="DENY">


		<link href="/library/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/library/jquery-ui/jquery.contextMenu.css" rel="stylesheet">
		<script src="/library/jquery/jquery-2.1.0.min.js"></script>
		<script src="/library/jquery-ui/jquery-ui.min.js"></script>
		<script src="/library/jquery-ui/jquery.contextMenu.js"></script>
	</head>
	<body>
		<div id="back_blur"> </div>
		<div class="row">
			<div class="col-xs-4 directory-list" id="directory-list-only">
				<h3>Folder List</h3>
				<ul class='list-group' id="dir_only_list">
                <% 
                  pageDir.forEach(function(file){ 
                %>
                  <li class='list-group-item droppable_forder dir_only_elem' style='color:gray;background-color:whitesmoke'>
                    <div class='row'>
                      <div class='col-sm-12'>
                      	<div>
                          <span class='glyphicon glyphicon-folder-close'> </span>
                          <a class='dir_only dir_share' data-path="<%= file.path %>">
                            <%= file.name %>
                          </a>
                    	</div>
                      </div>
                    </div>
                  </li>
                <%    
                  });
                %>
              </ul> 

			</div>

			<div class="col-xs-8 directory-list" id="directory-list-both">
				<h3>Bookmark List</h3>
				<ul class='list-group' id='dir_with_file_list'>

                	<% 
                      pageDir.forEach(function(file){ 
                    %>	
	                    <li class='list-group-item droppable_forder dir_with_file_elem' style='color:gray;background-color:whitesmoke'>
		                    <div class='row'>
		                      <div class='col-sm-12'>
		                        <div >
		                          <span class='glyphicon glyphicon-folder-close'> </span>
		                           <a class='dir_with_file dir_share' data-path="<%= file.path %>">
		                            <%= file.name %>
		                          </a>
		                        </div>
		                      </div>
		                    </div>
	                   </li>

                    <%    
                      });
                      pageEntry.forEach(function(file){ 
                    %>

	                    <li class='list-group-item draggable_file dir_with_file_elem' style='color:gray;background-color:whitesmoke'>
		                    <div class='row'>
		                      <div class='col-sm-4'>
		                          <span class='glyphicon glyphicon-file'> </span>
		                          <a class='file_a_tag_title' href="<%= file.url %>" data-path="<%= file.path %>">
		                            <%= file.title %>
		                          </a>
		                      </div>
		                      <div class ="col-sm-8">
		                      	<a class='file_a_tag' href="<%= file.url %>" data-path="<%= file.path %>">
		                            <%= file.content %>
		                        </a>
		                      </div>
		                    </div>
	                   </li>

                    <%    
                      });
                    %>
                  
              </ul> 
			</div>

		</div>
		<style type="text/css">
			html, body, .row{
				height: 100%;	
			}
			#back_blur{
				background: url('/images/2.jpg') no-repeat fixed center;
				-webkit-filter: blur(5px);
				-moz-filter: blur(5px);
				-o-filter: blur(5px);
				-ms-filter: blur(5px);
				filter: blur(5px);
				position: absolute;
				top: 0;
				height:100%;
				width: 100%;
			}
			.row{
				background: transparent;
			}

			.directory-list{
				border-right: 3px solid #cccccc;
				height: 100%;
				background: transparent;
			}
			li{
				background-color: rgba(255,255,255,0.2);
			}
			.user_name_input_text{
				border: 0 none;
		        background-color: rgba(255,255,255,.4);
		        color: inherit;
		        padding: 0;
		        padding-left: 1%;
		        height: 40px;
		        width: 100%;
		        float: left;
			}
			h3{
				font-size: 30pt;
				width: 100%;
				text-align: center;
				background-color: rgba(255,255,255,0.2);
				color: white;
			}

		</style>
		<script type="text/javascript">
		function make_new_subfolder(jquery_obj,name){
			var a_obj=jquery_obj.find('a')
			var path=a_obj.data('path')+a_obj.text()
			path=path?path:"/"
			var params={
				userInfo:{
					email: "widianpear@gmail.com"
				},
				dirInfo:{
					name:name,
					path:path
				}
			}
			$.ajax({
				type:"POST",
				url:"/ajax/insert_pageDir",
				dataType:"JSON", // 옵션이므로 JSON으로 받을게 아니면 안써도 됨
				data:params,
				success : function(data) {
					make_page_dir_list()
					make_page_all_list()
				},
				error : function(xhr, status, error) {
					alert("Error");
				}
			})
		}
		function make_new_folder(jquery_obj,name){
			var path=jquery_obj.find('a').data('path')
			path=path?path:"/"
			var params={
				userInfo:{
					email: "widianpear@gmail.com"
				},
				dirInfo:{
					name:name,
					path:path
				}
			}
			$.ajax({
				type:"POST",
				url:"/ajax/insert_pageDir",
				dataType:"JSON", // 옵션이므로 JSON으로 받을게 아니면 안써도 됨
				data:params,
				success : function(data) {
					make_page_dir_list()
					make_page_all_list()
				},
				error : function(xhr, status, error) {
					alert("Error");
				}
			})
		}
		
		function get_name_by_user(callback){
			$('body').append('<div id="user_name_input_div"><input type="search" class="user_name_input_text" autofocus></input></div>')
			$('.user_name_input_text').keydown(function(e){
		        if(e.keyCode == 13){
		        	var data=$('.user_name_input_text').val()
		        	$('#user_name_input_div').remove()
		          	callback(data);
		        }
		    });
		}
		function make_html_all_list(data) {
			if(data.status==0){
				alert('last folder');
				return;
			}
			var data=data.data;

			$('.dir_with_file_elem').remove();
			var resultDir=data.pageDir;
			var resultEntry=data.pageEntry;
			var innerhtml_str="";
			console.log(resultDir)
			resultDir.forEach(function(indata){
				innerhtml_str+="<li class='list-group-item droppable_forder dir_with_file_elem' style='color:gray;background-color:whitesmoke'>"+
                    "<div class='row'>"+
                      "<div class='col-sm-12'>"+
                      	"<div>"+
                          "<span class='glyphicon glyphicon-folder-close'> </span>"+
                          "<a class='dir_with_file dir_share' data-path='&&dirpath&&'>"+
                            "&&dirname&&"+
                          "</a>"+
                    	"</div>"+
                      "</div>"+
                    "</div>"+
                "</li>";
                innerhtml_str=innerhtml_str.replace(/&&dirname&&/g,indata.name).replace(/&&dirpath&&/g,indata.path)
			})
			resultEntry.forEach(function(indata){
				innerhtml_str+="<li class='list-group-item droppable_forder dir_with_file_elem' style='color:gray;background-color:whitesmoke'>"+
                    "<div class='row'>"+
                      "<div class='col-sm-4'>"+
                          "<span class='glyphicon glyphicon-file'> </span>"+
                          "<a class='file_a_tag_title' href='&&entryurl&&' data-path='&&entrypath&&'>"+
                            "&&title&&"+
                          "</a>"+
                      "</div>"+
                      "<div class='col-sm-8'>"+
                          "<a class='file_a_tag' href='&&entryurl&&' data-path='&&entrypath&&'>"+
                            "&&content&&"+
                          "</a>"+
                      "</div>"+
                    "</div>"+
                "</li>";
                innerhtml_str=innerhtml_str.replace(/&&entryurl&&/g,indata.url).replace(/&&entrypath&&/g,indata.path).replace(/&&title&&/g,indata.title).replace(/&&content&&/g,indata.content)
			})

			document.getElementById("dir_with_file_list").innerHTML=innerhtml_str;
			init();
		}
		function make_page_all_list(){
			var jquery_obj= $(this);
			var params={
				userInfo:{
					email: "widianpear@gmail.com"
				},
				path:jquery_obj.data('path')+jquery_obj.text().trim()
			}
			console.log(params)
			$.ajax({
				type:"POST",
				url:"/ajax/get_pageAll_list", //dir with file
				data:params,
				dataType:"JSON", // 옵션이므로 JSON으로 받을게 아니면 안써도 됨
				success : make_html_all_list,
				error : function(xhr, status, error) {
					alert("Error");
				}
			})

		}
		function make_html_dir_list(data) {
			if(data.status==0){
				alert('last folder');
				return;
			}
			var data=data.data;
			$('.dir_only_elem').remove();
			var result=data.pageDir;
			var innerhtml_str=""
			result.forEach(function(indata){
				innerhtml_str+="<li class='list-group-item droppable_forder dir_only_elem' style='color:gray;background-color:whitesmoke'>"+
                    "<div class='row'>"+
                      "<div class='col-sm-12'>"+
                      	"<div>"+
                          "<span class='glyphicon glyphicon-folder-close'> </span>"+
                          "<a class='dir_only dir_share' data-path='&&dirpath&&'>"+
                            "&&dirname&&"+
                          "</a>"+
                    	"</div>"+
                      "</div>"+
                    "</div>"+
                "</li>";
                innerhtml_str=innerhtml_str.replace('&&dirname&&',indata.name).replace('&&dirpath&&',indata.path)
			})

			document.getElementById("dir_only_list").innerHTML=innerhtml_str;
			init();
		}
		function make_page_dir_list(){
			var jquery_obj= $(this);
			var params={
				userInfo:{
					email: "widianpear@gmail.com"
				},
				path:jquery_obj.data('path')+jquery_obj.text().trim()
			}
			$.ajax({
				type:"POST",
				url:"/ajax/get_pageDir_list", //only dir
				data:params,
				dataType:"JSON", // 옵션이므로 JSON으로 받을게 아니면 안써도 됨
				success : make_html_dir_list,
				error : function(xhr, status, error) {
					alert("Error");
				}
			})
		}
			$.contextMenu({
				selector:"#directory-list-both",
				callback: function(key, options) {
		            if(key=="Newfolder"){
		            	var self=$(this);
		            	get_name_by_user(function(data){
		            		make_new_folder(self,data)
		            	})
		            }
		        },
		        items: {
		            "Newfolder": {name: "New folder", icon: "edit"}
		        }
			})
			$.contextMenu({
				selector:".droppable_forder",
				callback: function(key, options) {
					if(key=="Subdir"){
		            	get_name_by_user(function(data){
		            		make_new_subfolder($(this),data)
		            	})
		            }
		        },
		        items: {
		            "Subdir": {name: "Subdir", icon: "edit"},
		            "Delete": {name: "Delete", icon: "delete"}
		        }

			})
			$.contextMenu({
				selector:".draggable_file",
				callback: function(key, options) {

		        },
		        items: {
		            "Delete": {name: "Delete", icon: "delete"}
		        }

			})
			var init=function(){
					click_event_dir_only();
					click_event_dir_with_file();
					droppable_event();
					draggable_event();
			}
			var click_event_dir_only=function(){$('.dir_only').on('click',make_page_dir_list)}
			var click_event_dir_with_file=function(){$('.dir_with_file').on('click',make_page_all_list)}
			var draggable_event=function(){$('.draggable_file').draggable( {
				start:function(e,u){
		           console.log("start")
		        },
		        drag:function(e,u){
		           console.log("drag")
		        },
		        stop:function(e,u){
		            console.log("stop")
		        },
		        revert: true,
		        opacity:"0.3"

			});
			}
			var droppable_event=function(){$('.droppable_forder').droppable({

				drop: function(event, ui) {
					var jquery_obj= $(this).find(".dir_share");
				
					var dragobj=$(ui.draggable);
					var params={
						userInfo:{
							email: "widianpear@gmail.com"
						},
						pageInfo:{
							oldPath:dragobj.find('.file_a_tag_title').data('path'),
							newPath:jquery_obj.data('path')+jquery_obj.text().trim(),
							title:dragobj.find('.file_a_tag_title').text().trim()
						}
					};
					$.ajax({
						type:"POST",
						url:"/ajax/move_entryPath",
						dataType:"JSON", // 옵션이므로 JSON으로 받을게 아니면 안써도 됨
						data:params,
						success : function(data) {
							dragobj.remove()
							init();
						},
						error : function(xhr, status, error) {
							alert("Error");
						}
					})
                }

			})
			}
			$(window).load(function(){
				init();
			})

		</script>
	</body>
</html>