<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-FRAME-OPTIONS" content="DENY">


		<link href="/library/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/library/jquery-ui/jquery.contextMenu.css" rel="stylesheet">
		<script src="/library/jquery/jquery-2.1.0.min.js"></script>
		<script src="/library/jquery-ui/jquery-ui.min.js"></script>
		<script src="/library/jquery-ui/jquery.contextMenu.js"></script>
		<script src="/library/jso/jso.js"></script>
		<script src="/javascript/common.js"></script>
		<script src="/javascript/main.js"></script>
		<script src="/javascript/oauth.js"></script>
	</head>
	<body>
		<div id="back_blur"> </div>
		<div class="row">
			<div id="title_div"><p>BookMark Managing Site</p></div>
			<div class="col-xs-4 directory-list" id="directory-list-only">
				<h3>Folder List</h3>
				<ul class='list-group' id="dir_only_list">
                <%
                  pageDir.forEach(function(file){
                %>
                  <li class='list-group-item droppable_forder dir_only_elem' style='color:gray;background-color:whitesmoke'>
                    <div class='row'>
                      <div class='col-sm-12'>
                      	<div>
                          <span class='glyphicon glyphicon-folder-close'> </span>
                          <a class='dir_only dir_share' data-path="<%= file.path %>">
                            <%= file.name %>
                          </a>
                    	</div>
                      </div>
                    </div>
                  </li>
                <%
                  });
                %>
              </ul>

			</div>

			<div class="col-xs-8 directory-list" id="directory-list-both">
				<h3>Bookmark List</h3>
				<ul class='list-group' id='dir_with_file_list'>

                	<%
                      pageDir.forEach(function(file){
                    %>
	                    <li class='list-group-item droppable_forder dir_with_file_elem' style='color:gray;background-color:whitesmoke'>
		                    <div class='row'>
		                      <div class='col-sm-12'>
		                        <div >
		                          <span class='glyphicon glyphicon-folder-close'> </span>
		                           <a class='dir_with_file dir_share' data-path="<%= file.path %>">
		                            <%= file.name %>
		                          </a>
		                        </div>
		                      </div>
		                    </div>
	                   </li>

                    <%
                      });
                      pageEntry.forEach(function(file){
                    %>

	                    <li class='list-group-item draggable_file dir_with_file_elem' style='color:gray;background-color:whitesmoke'>
		                    <div class='row'>
		                      <div class='col-sm-4'>
		                          <span class='glyphicon glyphicon-file'> </span>
		                          <a class='file_a_tag_title' href="<%= file.url %>" data-path="<%= file.path %>">
		                            <%= file.title %>
		                          </a>
		                      </div>
		                      <div class ="col-sm-8">
		                      	<a class='file_a_tag' href="<%= file.url %>" data-path="<%= file.path %>">
		                            <%= file.content %>
		                        </a>
		                      </div>
		                    </div>
	                   </li>

                    <%
                      });
                    %>

              </ul>
			</div>

		</div>
		<style type="text/css">
			html, body, .row{
				height: 100%;
			}
			#back_blur{
				background: url('/images/2.jpg') no-repeat fixed center;
				-webkit-filter: blur(5px);
				-moz-filter: blur(5px);
				-o-filter: blur(5px);
				-ms-filter: blur(5px);
				filter: blur(5px);
				position: fixed;
				top: 0;
				height:100%;
				width: 100%;
				z-index: -10;
			}
			.row{
				background: transparent;
			}

			.directory-list{
				border-right: 3px solid #cccccc;
				height: 100%;
				background: transparent;
				padding-right: 3px;
				padding-left: 3px;

			}
			li{
				background-color: rgba(255,255,255,0.2);
			}
			.user_name_input_text{
				border: 0 none;
		        background-color: rgba(255,255,255,.4);
		        color: inherit;
		        padding: 0;
		        padding-left: 1%;
		        height: 40px;
		        width: 100%;
		        float: left;
			}
			h3{
				margin-top: 0;
				font-size: 30pt;
				width: 100%;
				text-align: center;
				background-color: rgba(255,255,255,0.2);
				color: white;
			}
			#title_div{
				width: 100%;
			}
			#title_div>p{
				font-size: 50pt;
				width: 100%;
				text-align: center;
				background-color: rgba(255,255,255,0.2);
				color: white;
				margin-bottom: 3px;
			}

		</style>
		<script type="text/javascript" src="/javascript/main.js"></script>
	</body>
</html>
